.titre-conteneur-glaces-type {
  font-size: clamp(1.25rem, 3vw, 24px);
  color: var(--color-text-quaternary);
  margin: 15px;
  text-align: center;
  text-shadow: 0.1em 0.1em rgb(94, 94, 94);
}

.conteneur-glaces-liste {
  column-count: 2;
  column-gap: 6rem;
  column-width: 220px;

  width: fit-content;
  max-width: 100%;
  margin: 25px auto;

  list-style: none;
  padding-left: 0;

  li {
    font-family: "DM Sans", sans-serif;
    font-size: 19px;
    margin-bottom: 20px;
    color: var(--color-text-quaternary);
    break-inside: avoid;
    width: 220px;
    padding-left: 10px;
  }
}

.checkbox {
  margin-right: 1rem;
  accent-color: var(--color-encadrement);
}

@media screen and (max-width: 900px) {
  .conteneur-glaces-liste {
    column-gap: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .conteneur-glaces-liste {
    column-count: 1;
    column-width: auto;
    width: 100%;
    text-align: center;
  }

  .conteneur-glaces-liste li {
    width: 100%;
    font-size: 17px;
    margin-bottom: 14px;
  }
}
.mention-non-bio {
  margin-left: 0.4rem;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 600;
  color: red;
}
